@import "tailwindcss";

@theme {
  --color-background: #f0f2f5;
  --color-foreground: #0f1418;

  --color-primary: #2f1348;
  --color-primary-foreground: #ffffff;

  --color-muted: #252e37;
  --color-muted-foreground: #7a8491;

  --color-highlight: #f5a623;
  --color-surface: #1a2329;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  button {
    cursor: pointer;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: "Poppins", sans-serif;
  }
}

@layer components {
  .glass {
    background-color: color-mix(in srgb, var(--color-surface) 50%, transparent);
    backdrop-filter: blur(16px);
    border: 1px solid color-mix(in srgb, var(--color-border) 50%, transparent);
  }
  .glass-strong {
    background-color: color-mix(in srgb, var(--color-surface) 80%, transparent);
    backdrop-filter: blur(24px);
    border: 1px solid color-mix(in srgb, var (--color-border) 60%, transparent);
  }
}

@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateY(24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
